<div class="row" style="margin-top:2rem; height: 40px;">
  <div class="col-sm-2 align-self-start">
  </div>
  <div class="col-sm-8 align-self-center">
    <div *ngFor="let alert of alerts">
      <ngb-alert [type]="alert.type" (close)="alertClose(alert)">{{ alert.message }} - you will redirect to the list in
        {{counter}}</ngb-alert>
    </div>
  </div>
  <div class="col-sm-2 align-self-end">
  </div>
</div>




<div class="row" style="margin-top:2rem">
  <div class="col-sm-2 align-self-start">
  </div>
  <div class="col-sm-8 align-self-center">
    <form class="col s12 white" #customForm="ngForm" (ngSubmit)="OnSubmit(customForm)">
      <div class="card align-self-center">
        <div class="card-header">

          # <span style="font-weight: bold">{{emailId}} </span>
          <a class="btn btn-dark pull-right" [routerLink]="['../../']"> x</a>
        </div>

        <div class="card-body text-right">
          <div class="row">

            <div class="col">
              <br>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Sahibi :</label>
                <div class="col-sm-9">
                  <input type="text"  name="owner" #owner="ngModel" [(ngModel)]="email.owner" [disabled]="disable" class="form-control">
                </div>

              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">SMTP :</label>
                <div class="col-sm-9">
                  <input type="text" name="smtp" #smtp="ngModel" [(ngModel)]="email.smtp" [disabled]="disable" class="form-control">
                </div>

              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">PORT :</label>
                <div class="col-sm-9">
                  <input type="text" name="port" #port="ngModel" [(ngModel)]="email.port" [disabled]="disable" class="form-control">
                </div>

              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">SSL :</label>
                <div class="col-sm-9">
                  <input type="checkbox" name="secure" #secure="ngModel" [(ngModel)]="email.secure"
                  class="form-control" [disabled]="disable">
                
                </div>

              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">E-Mail :</label>
                <div class="col-sm-9">
                  <input type="text" name="userName" #userName="ngModel" [(ngModel)]="email.userName" [disabled]="disable" class="form-control">
                </div>

              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Password :</label>
                <div class="col-sm-9">
                  <input type="password" name="password" #password="ngModel" [(ngModel)]="email.password" [disabled]="disable" class="form-control">
                </div>

              </div>

            </div>

          </div>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-danger" [disabled]="!disable" (click)="confirmToDelete()"><i
              class="fa fa-eraser"> Sil</i></button>

              <button type="button" class="btn btn-success pull-right" type="submit" [disabled]="disable"><i
                class="fa fa-save"> Kaydet</i></button>
          <button type="button" class="btn btn-info pull-right" style="margin-right:5px;" (click)="edit()"
            [disabled]="!disable"><i class="fa fa-edit"> Düzenle</i></button>



        </div>


      </div>
    </form>
  </div>
  <div class="col-sm-2 align-self-end">
  </div>
</div>