<br />
<br />
<ngx-spinner type="ball-spin-clockwise"> Your order is on the way</ngx-spinner>
<div [hidden]="paymentPage">
<div class="container" style="color: black">
  <h2 style="font-weight: bold">Payment Information</h2>
  <br />

    <div
      class="row"
      style="
        padding: 0;
        margin: 0;
        border: 1px solid #ddd;
        border-bottom: none;
        padding-top: 10px;
        background-color: white;
      "
    >
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-6 col-md-3" style="padding-top: 7px">
                <span style="font-weight: bold"> Delivery Address </span>
              </div>

              <div class="col-6 col-md-9">
                <select
                  class="custom-select"
                  [ngModel]="selectedAddress"
                  (ngModelChange)="selectDeliveryAddress($event)"
                >
                  <option *ngFor="let contact of contacts" [ngValue]="contact">
                    {{ contact.addressName }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-5 col-md-3">
            <p><span style="font-weight: bold"> Name: </span></p>
            <p><span style="font-weight: bold"> Surname: </span></p>
            <p><span style="font-weight: bold"> Identity No: </span></p>
            <p><span style="font-weight: bold"> Phone: </span></p>
            <p><span style="font-weight: bold"> Email: </span></p>
            <p><span style="font-weight: bold"> Address 1: </span></p>
            <p><span style="font-weight: bold"> Address 2: </span></p>
            <p><span style="font-weight: bold"> State: </span></p>
            <p><span style="font-weight: bold"> City: </span></p>
            <p><span style="font-weight: bold"> Posta Kodu: </span></p>
          </div>

          <div class="col-7 col-md-9">
            <p><span class="bold-head"> </span> {{ selectedDeliveryName }}</p>
            <p>
              <span class="bold-head"> </span> {{ selectedDeliverySurname }}
            </p>
            <p>
              <span class="bold-head"> </span>
              {{ selectedDeliveryIdentityNumber }}
            </p>
            <p><span class="bold-head"> </span> {{ selectedDeliveryPhone }}</p>
            <p><span class="bold-head"> </span> {{ selectedDeliveryEmail }}</p>
            <p>
              <span class="bold-head"> </span> {{ selectedDeliveryAddress1 }}
            </p>
            <p>
              <span class="bold-head"> </span> {{ selectedDeliveryAddress2 }}
            </p>
            <p><span class="bold-head"> </span> {{ selectedDeliveryState }}</p>
            <p><span class="bold-head"> </span> {{ selectedDeliveryCity }}</p>
            <p>
              <span class="bold-head"> </span> {{ selectedDeliveryZipCode }}
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-6 col-md-3" style="padding-top: 7px">
                <span style="font-weight: bold"> Bill Address </span>
              </div>

              <div class="col-6 col-md-9">
                <select
                  class="custom-select"
                  [ngModel]="selectedBillAddress"
                  (ngModelChange)="selectBillAddress($event)"
                >
                  <option
                    *ngFor="let contact of billContacts"
                    [ngValue]="contact"
                  >
                    {{ contact.addressName }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-5 col-md-3">
            <p><span style="font-weight: bold"> Name: </span></p>
            <p><span style="font-weight: bold"> Surname: </span></p>
            <p><span style="font-weight: bold"> Identity No: </span></p>
            <p><span style="font-weight: bold"> Phone: </span></p>
            <p><span style="font-weight: bold"> Email: </span></p>
            <p><span style="font-weight: bold"> Address 1: </span></p>
            <p><span style="font-weight: bold"> Address 2: </span></p>
            <p><span style="font-weight: bold"> State: </span></p>
            <p><span style="font-weight: bold"> City: </span></p>
            <p><span style="font-weight: bold"> Posta Kodu: </span></p>
          </div>

          <div class="col-7 col-md-9">
            <p>
              <span class="bold-head"> {{ selectedBillName }} </span>
            </p>
            <p>
              <span class="bold-head"> {{ selectedBillSurname }} </span>
            </p>
            <p>
              <span class="bold-head"> {{ selectedBillIdentityNumber }} </span>
            </p>
            <p>
              <span class="bold-head"> {{ selectedBillPhone }} </span>
            </p>
            <p>
              <span class="bold-head"> {{ selectedBillEmail }} </span>
            </p>
            <p>
              <span class="bold-head"> {{ selectedBillAddress1 }} </span>
            </p>
            <p>
              <span class="bold-head"> {{ selectedBillAddress2 }} </span>
            </p>
            <p>
              <span class="bold-head"> {{ selectedBillState }}</span>
            </p>
            <p>
              <span class="bold-head"> {{ selectedBillCity }} </span>
            </p>
            <p>
              <span class="bold-head">{{ selectedBillZipCode }} </span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <br />

    <div class="row" style="padding: 0; margin: 0">
      <div
        class="col-md-6"
        style="
          border: 1px solid #ddd;
          border-bottom: none;
          padding-top: 10px;
          padding-bottom: 10px;
          background-color: white;
        "
      >
        <div class="row" style="margin-bottom: 8px">
          <div
            class="col-md-12"
            style="text-align: center; font-size: 18px; font-weight: bold"
          >
            Card Information
          </div>
        </div>
        <br />

        <div class="row" style="margin-bottom: 8px">
          <div class="col-md-3" style="padding-top: 5px">
            <p><span style="font-weight: bold"> Ad Soyad </span></p>
          </div>
          <div class="col-md-9">
            <input
              type="text"
              name="CC_OWNER"
              #CC_OWNER="ngModel"
              [(ngModel)]="card.CC_OWNER"
              class="form-control"
            />
          </div>
        </div>

        <div class="row" style="margin-bottom: 8px">
          <div class="col-md-3" style="padding-top: 3px">
            <p><span style="font-weight: bold"> Card Number </span></p>
          </div>
          <div class="col-md-9">
            <input
              type="text"
              name="CC_NUMBER"
              #CC_NUMBER="ngModel"
              [(ngModel)]="card.CC_NUMBER"
              class="form-control"
            />
          </div>
        </div>

        <div class="row" style="margin-bottom: 8px">
          <div class="col-3 col-md-3" style="padding-top: 6px">
            <p><span style="font-weight: bold"> MM/YY </span></p>
          </div>
          <div class="col-3 col-md-3" style="padding-right: 0">
            <select
              class="custom-select"
              [ngModel]="selectedMonth"
              (ngModelChange)="selectMonth($event)"
            >
              <option *ngFor="let month of months" [value]="month.month">
                {{ month.month }}
              </option>
            </select>
          </div>
          <div class="col-3 col-md-3" style="padding: 0; padding-left: 2px">
            <select
              class="custom-select"
              [ngModel]="selectedYear"
              (ngModelChange)="selectYear($event)"
            >
              <option *ngFor="let year of years" [value]="year.year">
                {{ year.year }}
              </option>
            </select>
          </div>
          <div class="col-3 col-md-3" style="padding-left: 2px">
            <input
              type="text"
              name="CC_CVV"
              #CC_CVV="ngModel"
              placeholder="CCV"
              [(ngModel)]="card.CC_CVV"
              class="form-control"
            />
          </div>
        </div>

        <!-- <div class="row">
        <div class="col-5 col-md-3" style="padding-top: 6px">
          <p><span style="font-weight: bold"> Taksit Sayısı </span></p>
        </div>
        <div class="col-7 col-md-6">
          <select
            class="custom-select"
            [ngModel]="selectedInstalment"
            (ngModelChange)="selectInstalment($event)"
          >
            <option
              *ngFor="let instalment of instalments"
              [value]="instalment.instalment"
            >
              {{ instalment.instalment }}
            </option>
          </select>
        </div>
        <div class="col-md-3">
          <button
            class="btn btn-dark btn-block pull-right"
            (click)="checkInstalments()"
            type="button"
          >
            Installments
          </button>
        </div>
      </div> -->
        <!-- <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-9 taksitBank" style="text-align: center">
          {{ bankName }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-3 taksitHeader">Taksit</div>
            <div class="col-5 taksitHeader">Taksit Tutarı</div>
            <div class="col-4 taksitHeader">Toplam Tutar</div>
          </div>
          <div class="row" *ngFor="let price of installmentPrices">
            <div class="col-3">
              {{ price.installmentNumber }}
            </div>
            <div class="col-5">
              {{ price.installmentPrice }}
            </div>
            <div class="col-4">
              {{ price.totalPrice }}
            </div>
          </div>
        </div>
      </div> -->

        <br />
        <br />
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <div class="card row">
          <div class="card-body" style="padding-bottom: 0">
            <div class="row">
              <br />
              <div
                class="col-6 col-md-6"
                style="text-align: left; font-size: 22px"
              >
                <p>Total</p>
              </div>
              <div
                class="col-6 col-md-6"
                style="text-align: end; font-size: 22px"
              >
                {{ grandTotal | currency: "":"":"2.2-2" }} {{ currency }}
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-12">
                <textarea
                  rows="2"
                  [(ngModel)]="note"
                  class="col-md-12 form-control"
                  placeholder="You can write some note here"
                >
                </textarea>
              </div>
            </div>

            <div
              class="row"
              style="padding: 0; margin: 0; margin-top: 15px; border-radius: 0"
            >
              <div
                class="col-md-9"
                style="padding-right: 0; margin-right: 0; padding-top: 7px"
              >
                <div class="row">
                  <input
                    type="checkbox"
                    style="
                      margin-top: 6px;
                      margin-right: 2px;
                      height: 12px;
                      width: 12px;
                    "
                    class="form-control"
                  />

                 I approved long way aggrement
                </div>
              </div>

              <div class="col-md-3" style="padding-right: 0; margin-right: 0">
                <!-- <button class="btn btn-warning btn-block" (click)="sendForPayment()"
                                type="button">Checkout</button> -->

                <button
                  class="btn btn-dark btn-block pull-right"
                  (click)="makePayment()"
                  type="button"
                >
                  Checkout
                </button>
              </div>
            </div>

            <div class="row" style="margin-top: 20px">
              <div class="col-md-12">
                <img class="img-fluid" src="../assets/logo-band@2x.png" />
              </div>
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-6">
            <h5> Teslimat Adresi</h5>
            <div class="row">

                <div class="col-md-3">
                    <p> <span class="bold-head"> Ad </span></p>
                </div>
                <div class="col-md-9">
                    <input type="text" name="DELIVERY_FNAME" #DELIVERY_FNAME="ngModel" [(ngModel)]="delivery.DELIVERY_FNAME"
                        class="form-control">
                </div>
            </div>


            <div class="row">

                <div class="col-md-3">
                    <p> <span class="bold-head"> Soyad </span></p>
                </div>
                <div class="col-md-9">
                    <input type="text" name="DELIVERY_LNAME" #DELIVERY_LNAME="ngModel" [(ngModel)]="delivery.DELIVERY_LNAME"
                        class="form-control">
                </div>
            </div>

            <div class="row">

                <div class="col-md-3">
                    <p> <span class="bold-head"> Email </span></p>
                </div>
                <div class="col-md-9">
                    <input type="text" name="DELIVERY_EMAIL" #DELIVERY_EMAIL="ngModel" [(ngModel)]="delivery.DELIVERY_EMAIL"
                        class="form-control">
                </div>
            </div>
            <div class="row">

                <div class="col-md-3">
                    <p> <span class="bold-head"> Telefon </span></p>
                </div>
                <div class="col-md-9">
                    <input type="text" name="DELIVERY_PHONE" #DELIVERY_PHONE="ngModel" [(ngModel)]="delivery.DELIVERY_PHONE"
                        class="form-control">
                </div>
            </div>
            <div class="row">

                <div class="col-md-3">
                    <p> <span class="bold-head"> Firma </span></p>
                </div>
                <div class="col-md-9">
                    <input type="text" name="DELIVERY_COMPANY" #DELIVERY_COMPANY="ngModel" [(ngModel)]="delivery.DELIVERY_COMPANY" class="form-control">
                </div>
            </div>

            <div class="row">

                <div class="col-md-3">
                    <p> <span class="bold-head"> Adres 1 </span></p>
                </div>
                <div class="col-md-9">
                    <input type="text" name="DELIVERY_ADDRESS" #DELIVERY_ADDRESS="ngModel" [(ngModel)]="delivery.DELIVERY_ADDRESS" class="form-control">
                </div>
            </div>

            <div class="row">

                <div class="col-md-3">
                    <p> <span class="bold-head"> Adres 2 </span></p>
                </div>
                <div class="col-md-9">
                    <input type="text" name="DELIVERY_ADDRESS2" #DELIVERY_ADDRESS2="ngModel" [(ngModel)]="delivery.DELIVERY_ADDRESS2" class="form-control">
                </div>
            </div>

            <div class="row">

                <div class="col-md-3">
                    <p> <span class="bold-head"> Posta Kodu</span></p>
                </div>
                <div class="col-md-9">
                    <input type="text" name="DELIVERY_ZIPCODE" #DELIVERY_ZIPCODE="ngModel" [(ngModel)]="delivery.DELIVERY_ZIPCODE" class="form-control">
                </div>
            </div>
            <div class="row">

                <div class="col-md-3">
                    <p> <span class="bold-head"> Şehir</span></p>
                </div>
                <div class="col-md-9">
                    <input type="text" name="DELIVERY_CITY" #DELIVERY_CITY="ngModel" [(ngModel)]="delivery.DELIVERY_CITY" class="form-control">
                </div>
            </div>
            <div class="row">

                <div class="col-md-3">
                    <p> <span class="bold-head"> State</span></p>
                </div>
                <div class="col-md-9">
                    <input type="text" name="DELIVERY_STATE" #DELIVERY_STATE="ngModel" [(ngModel)]="delivery.DELIVERY_STATE" class="form-control">
                </div>
            </div>
            <div class="row">

                <div class="col-md-3">
                    <p> <span class="bold-head"> Ülke Kodu</span></p>
                </div>
                <div class="col-md-9">
                    <input type="text" name="DELIVERY_COUNTRYCODE" #DELIVERY_COUNTRYCODE="ngModel" [(ngModel)]="delivery.DELIVERY_COUNTRYCODE" class="form-control">
                </div>
            </div>
            <hr>

        </div>


        <div class="col-md-6">
            <h5> Fatura Adresi</h5>
            <div class="row">

                <div class="col-md-3">
                    <p> <span class="bold-head"> Ad </span></p>
                </div>
                <div class="col-md-9">
                    <input type="text" name="BILL_FNAME" #BILL_FNAME="ngModel" [(ngModel)]="billing.BILL_FNAME"
                        class="form-control">
                </div>
            </div>
            <div class="row">

                <div class="col-md-3">
                    <p> <span class="bold-head"> Soyad </span></p>
                </div>
                <div class="col-md-9">
                    <input type="text" name="BILL_LNAME" #BILL_LNAME="ngModel" [(ngModel)]="billing.BILL_LNAME"
                        class="form-control">
                </div>
            </div>
            <div class="row">

                <div class="col-md-3">
                    <p> <span class="bold-head"> Email </span></p>
                </div>
                <div class="col-md-9">
                    <input type="text" name="BILL_EMAIL" #BILL_EMAIL="ngModel" [(ngModel)]="billing.BILL_EMAIL"
                        class="form-control">
                </div>
            </div>
            <div class="row">

                <div class="col-md-3">
                    <p> <span class="bold-head"> Telefon </span></p>
                </div>
                <div class="col-md-9">
                    <input type="text" name="BILL_PHONE" #BILL_PHONE="ngModel" [(ngModel)]="billing.BILL_PHONE"
                        class="form-control">
                </div>
            </div>
            <div class="row">

                <div class="col-md-3">
                    <p> <span class="bold-head"> Fax </span></p>
                </div>
                <div class="col-md-9">
                    <input type="text" name="BILL_FAX" #BILL_FAX="ngModel" [(ngModel)]="billing.BILL_FAX"
                        class="form-control">
                </div>
            </div>

            <div class="row">

                <div class="col-md-3">
                    <p> <span class="bold-head"> Adres 1 </span></p>
                </div>
                <div class="col-md-9">
                    <input type="text" name="BILL_ADDRESS" #BILL_ADDRESS="ngModel" [(ngModel)]="billing.BILL_ADDRESS"
                        class="form-control">
                </div>
            </div>

            <div class="row">

                <div class="col-md-3">
                    <p> <span class="bold-head"> Adres 2 </span></p>
                </div>
                <div class="col-md-9">
                    <input type="text" name="BILL_ADDRESS2" #BILL_ADDRESS2="ngModel" [(ngModel)]="billing.BILL_ADDRESS2"
                        class="form-control">
                </div>
            </div>
            <div class="row">

                <div class="col-md-3">
                    <p> <span class="bold-head"> Posta Kodu </span></p>
                </div>
                <div class="col-md-9">
                    <input type="text" name="BILL_ZIPCODE" #BILL_ZIPCODE="ngModel" [(ngModel)]="billing.BILL_ZIPCODE"
                        class="form-control">
                </div>
            </div>
            <div class="row">

                <div class="col-md-3">
                    <p> <span class="bold-head"> Şehir </span></p>
                </div>
                <div class="col-md-9">
                    <input type="text" name="BILL_CITY" #BILL_CITY="ngModel" [(ngModel)]="billing.BILL_CITY"
                        class="form-control">
                </div>
            </div>
            <div class="row">

                <div class="col-md-3">
                    <p> <span class="bold-head"> Ülke Kodu </span></p>
                </div>
                <div class="col-md-9">
                    <input type="text" name="BILL_COUNTRYCODE" #BILL_COUNTRYCODE="ngModel" [(ngModel)]="billing.BILL_COUNTRYCODE"
                        class="form-control">
                </div>
            </div>
            <div class="row">

                <div class="col-md-3">
                    <p> <span class="bold-head"> İlçe </span></p>
                </div>
                <div class="col-md-9">
                    <input type="text" name="BILL_STATE" #BILL_STATE="ngModel" [(ngModel)]="billing.BILL_STATE"
                        class="form-control">
                </div>
            </div>

            <hr>

        </div>
    </div> -->

    <br />
    <div class="container" style="color: black">
      <div class="row">
        <div class="col-md-12">
          <table class="table" style="color: black">
            <thead class="table table-light">
              <tr>
                <th scope="col-md-1">#</th>
                <th scope="col-md-8">Product</th>
                <th scope="col-md-1">Item</th>
                <th scope="col-md-2">Total Price</th>
              </tr>
            </thead>
            <tbody style="background-color: white">
              <tr *ngFor="let product of cart" style="color: black">
                <td>
                  <img
                    src="{{ nodejsApi }}/{{ product.product.image[0] }}"
                    class="card-img-top"
                    style="width: 50px"
                    height="50"
                  />
                </td>
                <td style="vertical-align: middle">
                  {{ product.product.turkishTitle }} (
                  <span *ngIf="product.volumeEntity != 'Not'">
                    <span style="font-weight: bold">
                      {{ product.volume }} {{ product.volumeEntity }}</span
                    >
                  </span>
                  <span *ngIf="product.volumeEntity == 'Not'">
                    <span style="font-weight: bold"> {{ product.volume }}</span>
                  </span>
                  )
                </td>
                <td style="vertical-align: middle">
                  {{ product.unit }}
                </td>

                <td style="vertical-align: middle">
                  {{ product.totalPrice | currency: "":"":"2.2-2"
                  }}{{ product.currency }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</div>
<div [hidden]="infoPage">

    <div class="col-md-12" >
      <div class="row">
  
        <div class="col-md-12" style="font-weight: bold; text-align: center;">
          <i style="font-size:64px; color:green;" class="fa fa-check-circle"></i>
          <br>
          We took your order. We will send an email after its approval
        </div>
      </div>

    </div>

</div>
<br />
<br />
