<br>
<br>
<div class="container">
    <div class="col-md-12">
        <div class="row">

            <div class="col-md-6">
                <div class="row" *ngFor="let message of messages" style="background-color:#eee; margin-bottom:5px;">
                    <div class="col-md-12"
                        (click)="showDetail(message.answer,message.userName,message.updatedAt,message.answered)">
                        <span style="font-size:10px;">{{message.updatedAt | date: 'short'}} </span>
                        <br>
                        {{message.message}}

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="col-md-12">
                    <div class="row" style="height: 30px;">
                        <div class="col-md-6">
                            {{sendedDate | date:'short'}}
                        </div>
                        <div class="col-md-6">
                            <span class="pull-right"> {{sendedBy}} </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12" style="min-height: 250px;">

                            {{messageDetail}}

                        </div>
                    </div>
                </div>




                <form class="col s12 white" #messageForm="ngForm" (ngSubmit)="OnSubmit(messageForm)">
                    <div class="form-group row">
                        <div class="col-md-12">

                            <textarea type="text" placeholder="Mesajınız" #message="ngModel" name="message" rows="6"
                                [(ngModel)]="chat.message" class="form-control">

                        </textarea>


                            <br>

                            <button type="submit" class="btn btn-warning pull-right"> Gönder</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
</div>