<br>


<div class="card-header" style="border-bottom:none;">
  <div class="row">
    <div class="col-md-4">

      <div class="row">
        <div class="fa fa-search" aria-hidden="true" style="margin-right:-3px;
          padding:8px;border:1px solid lightgray;background-color: white;"></div>
        <div>
          <input type="text" [(ngModel)]="textforsearch" (ngModelChange)="onChange($event)" class="form-control" style="border-left:none; margin-left:0; border-radius: 0;
            padding-left:2px;">
        </div>
      </div>

    </div>


    <div class="col-md-3">
      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dps" [(ngModel)]="startDate" ngbDatepicker
              #d="ngbDatepicker" (ngModelChange)="selectStartDate($event)">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary fa fa-calendar" (click)="d.toggle()" type="button"></button>
            </div>
          </div>
        </div>
      </form>

    </div>
    <div class="col-md-3">
      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="endDate" ngbDatepicker
              #d1="ngbDatepicker" (ngModelChange)="selectEndDate($event)">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary fa fa-calendar" (click)="d1.toggle()" type="button"></button>
            </div>
          </div>
        </div>
      </form>
    </div>


    <div class="col-md-2">
      <button type="button" class="btn btn-dark" (click)="openSmsSetting()"><i class="fa fa-mobile"> Sms
          Ayarları</i></button>

    </div>
  </div>
</div>
<br>
<table class="table table-striped" style="font-size:12px;">
  <thead class="thead-dark">
    <tr>



      <th scope="col-2">Nedeni</th>
      <th scope="col-2">Müşteri</th>
      <th scope="col-2">Telefon</th>
      <th scope="col-1">Gönderilme T.</th>
       <th scope="col-2">Mesaj</th>
      <th scope="col-3">Durum</th>
      <th scope="col-1">İletildi</th>
      <th scope="col-1"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sms of smses">


      <td> {{sms.messageFor}}</td>
      <td>{{sms.customer}}</td>
      <td>{{sms.gsmNo}}</td>
      <td>{{sms.createdAt | date :'short'}}</td>
      <td> {{sms.message}}</td>
      <td> {{sms.status}}</td>
      <td>

        <div *ngIf="sms.success==false">
          Hatalı
        </div>
        <div *ngIf="sms.success==true">
          İletildi
        </div>
      </td>
      <td>


      </td>


    </tr>
  </tbody>
</table>
<br>

<div class="row">
  <div class="col-md-8">

    <ngb-pagination class="d-flex justify-content-left" style="margin-left: 15px;" size="sm"
      [(collectionSize)]="totalItems" (pageChange)="nowPage($event)" [(page)]="pageNumber" [(pageSize)]="pageSize"
      [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>

  </div>
  <div class="col-md-4">
    <div class="pull-right" style="margin-right: 15px;">
      <b>Bulundu :</b> {{totalItems}}
    </div>

  </div>
</div>
<br>