<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">

            
            <div class="col-md-12">
                <h3>Life Is Dynamic</h3>
                <p>
                    {{about}}
                </p>
            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
          
        </div>
        <div class="col-md-6">
            <img src="{{nodejsApi}}/{{imageTwo}}" class="img-fluid">
        </div>
    </div>
</div>