<!-- 


<div class="carousel-fluid">
    <div id="content">


        <div id="gallery_img">

            <div id="image">

            </div>
            <div id="lefty"> <i class="fa fa-chevron-left"></i> </div>
            <div id="righty"> <i class="fa fa-chevron-right"></i> </div>
            <div id="play"> <i class="fa fa-play"></i> </div>
            <div id="pause"> <i class="fa fa-pause"></i> </div>
            <div id="expand"> <i class="fa fa-expand"></i> </div>
        </div>
        <div id="thumbs">
            <div class="thumbs_style"> <img src="{{nodejsApi}}/images/thumbs/a.jpg"> </div>
            <div class="thumbs_style"> <img src="{{nodejsApi}}/images/thumbs/b.jpg"> </div>
            <div class="thumbs_style"> <img src="{{nodejsApi}}/images/thumbs/c.jpg"> </div>
            <div class="thumbs_style"> <img src="{{nodejsApi}}/images/thumbs/d.jpg"> </div>
            <div class="thumbs_style"> <img src="{{nodejsApi}}/images/thumbs/e.jpg"> </div>
            <div class="thumbs_style"> <img src="{{nodejsApi}}/images/thumbs/f.jpg"> </div>
            <div class="thumbs_style"> <img src="{{nodejsApi}}/images/thumbs/g.jpg"> </div>
            <div class="thumbs_style"> <img src="{{nodejsApi}}/images/thumbs/h.jpg"> </div>
            <div class="thumbs_style"> <img src="{{nodejsApi}}/images/thumbs/i.jpg"> </div>
            <div class="thumbs_style"> <img src="{{nodejsApi}}/images/thumbs/j.jpg"> </div>
            <div class="thumbs_style"> <img src="{{nodejsApi}}/images/thumbs/k.jpg"> </div>
            <div class="thumbs_style"> <img src="{{nodejsApi}}/images/thumbs/l.jpg"> </div>
            <div class="thumbs_style"> <img src="{{nodejsApi}}/images/thumbs/m.jpg"> </div>
            <div class="thumbs_style"> <img src="{{nodejsApi}}/images/thumbs/n.jpg"> </div>
            <div class="thumbs_style"> <img src="{{nodejsApi}}/images/thumbs/o.jpg"> </div>
            <div class="thumbs_style"> <img src="{{nodejsApi}}/images/thumbs/p.jpg"> </div>
        </div>
    </div>
</div> -->

<div class="carousel-fluid">
  <ngb-carousel
    [wrap]="true"
    #carousel
    [interval]="3000"
    [pauseOnHover]="pauseOnHover"
    (slide)="onSlide($event)"
  >
    <ng-template ngbSlide *ngFor="let slider of sliders">
      <div class="picsum-img-wrappe">
        <img
          src="{{ nodejsApi }}/{{ slider.imageUrl }}"
          class="img-fluid"
          style="border: none; outline: none"
        />
      </div>
      <div class="carousel-caption">
        <h3>{{ slider.title }}</h3>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<br />
<br />
<!-- <div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="col-md-6">
        <br />

        <img
          src="{{ nodejsApi }}/{{ general.imageUrlTwo }}"
          class="img-fluid"
        />
      </div>

      <div class="col-md-6"></div>
    </div>
    <div class="col-md-7">
      {{ general.summary }}
    </div>
  </div>
</div> -->
<br />
<br />

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div
      class="col-md-6"
      style="
        text-align: center;
        color: black;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 20px;
      "
    >
      <!-- <h2 style="font-weight: bold">{{ general.latestProducts }}</h2> -->
    </div>
    <div class="col-md-3"></div>
  </div>

  <div class="row">
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let product of productLatests">
        <div class="row" style="padding: 0; margin: 0; padding-bottom: 20px">
          <div
            class="col-md-3"
            style="
              min-height: 300px;
              margin: 0;
              padding: 5px;
              padding-bottom: 14px;
            "
            *ngFor="let pro of product"
          >
            <div
              style="
                border: 1px solid #ddd;

                padding: 5px;
                color: black;
                text-align: center;
                background-color: white;
              "
            >
              <div class="row" style="min-height: 40px; padding: 0; margin: 0">
                <div class="col-3 col-md-3" style="padding-left: 0">
                  <div
                    *ngIf="pro.freeCargo"
                    class="fa fa-truck"
                    style="
                      margin-left: 0;
                      background-color: #ddd;
                      color: #444;
                      text-align: center;
                      padding: 10px;
                    "
                  ></div>
                </div>
                <div class="col-6 col-md-5"></div>

                <div class="col-3 col-md-4" style="margin: 0; padding: 0">
                  <div
                    *ngIf="pro.listPrice != pro.salePrice && pro.listPrice != 0"
                    style="
                      background-color: #FFA500;
                      color: #333;
                      text-align: center;
                    "
                  >
                    <div style="padding-top: 5px; padding-bottom: 5px">
                      <span  class="fa fa-arrow-down"></span>  % {{ pro.discount }}
                    </div>
                  </div>
                </div>

                <!-- <div class="col-md-4" *ngIf="pro.sizes.length==0" style="margin:0; padding:0;">
          
                                              <div *ngIf="pro.listPrice != pro.salePrice && pro.listPrice !=0"
                                                  style="background-color: #c8232c; color:white; text-align: center;">
          
                                                  <div style="padding-top:5px; padding-bottom:5px;"> % {{pro.discount}}
                                                  </div>
          
                                              </div>
                                          </div> -->
                <!-- 
                                          <div class="col-md-4" *ngIf="pro.sizes.length !==0 && pro.size[0].listPrice !=0"
                                              style="margin:0; padding:0;">
                                              <div *ngIf="pro.sizes[0].listPrice != pro.sizes[0].salePrice"
                                                  style="background-color: #c8232c; color:white; text-align: center;">
          
                                                  <div style="padding-top:5px; padding-bottom:5px;"> % {{pro.discount}}
                                                  </div>
          
                                              </div>
          
          
                                          </div> -->
              </div>
              <div class="row">
                <a
                  [routerLink]="[
                    '../../product',
                    pro.productId.turkishTitleLower + '&' + pro.productId._id
                  ]"
                >
                  <div class="col-md-12">
                    <img
                      src="{{ nodejsApi }}/{{ pro.productId.image[0] }}"
                      class="img-fluid"
                    />
                  </div>
                </a>
              </div>
              <div class="row" style="height: 40px">
           
                  <div class="col-md-12">
                    
                    <a style="color:black;"
                    [routerLink]="[
                      '../../product',
                      pro.productId.turkishTitleLower + '&' + pro.productId._id
                    ]"
                  >   {{ pro.title }}  </a>
               
                  </div>
              
              </div>
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8" style="font-weight: bold; font-size:14px;">
                  <span
                    
                    *ngIf="pro.productId.volumeEntity != 'Not'"
                  >
                    {{ pro.productId.volume }}
                    {{ pro.productId.volumeEntity }}
                  </span>
                  <span
                   
                    *ngIf="pro.productId.volumeEntity == 'Not'"
                  >
                    {{ pro.productId.volume }}
                  </span>
                </div>
                <div class="col-md-2"></div>
              </div>
              <div class="row">
                <div
                  class="col-md-12"
                  style="
                    text-align: center;
                    color: black;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                    font-size: 20px;
                  "
                >
                  <div>
                    <label> {{ pro.salePrice }}</label>
                    <label> {{ pro.currency }}</label>

                    <label
                      *ngIf="
                        pro.listPrice != pro.salePrice && pro.listPrice != 0
                      "
                      style="margin-left: 10px; text-decoration: line-through"
                    >
                      {{ pro.listPrice }}</label
                    >
                    <label
                      style="text-decoration: line-through"
                      *ngIf="
                        pro.listPrice != pro.salePrice && pro.listPrice != 0
                      "
                    >
                      {{ pro.currency }}</label
                    >
                  </div>

                  <!-- 
                                              <div *ngIf="pro.sizes.length==0">
                                                  <label> {{pro.salePrice}}</label>
                                                  <label> {{pro.priceCurrency}}</label>
          
                                                  <label *ngIf="pro.listPrice != pro.salePrice  && pro.listPrice !=0"
                                                      style="margin-left:10px; text-decoration:line-through;">
                                                      {{pro.listPrice}}</label>
                                                  <label style="text-decoration:line-through;"
                                                      *ngIf="pro.listPrice != pro.salePrice  && pro.listPrice !=0">
                                                      {{pro.priceCurrency}}</label>
                                              </div> -->
                  <!-- <div *ngIf="pro.sizes.length!=0">
          
                                                  <label> {{pro.sizes[0].salePrice}}</label>
                                                  <label> {{pro.priceCurrency}}</label>
          
                                                  <label
                                                      *ngIf="pro.sizes[0].listPrice != pro.sizes[0].salePrice && pro.size[0].listPrice !=0"
                                                      style="margin-left:10px; text-decoration:line-through;">
                                                      {{pro.sizes[0].listPrice}}</label>
                                                  <label style="text-decoration:line-through;"
                                                      *ngIf="pro.sizes[0].listPrice != pro.sizes[0].salePrice && pro.size[0].listPrice !=0">
                                                      {{pro.priceCurrency}}</label>
          
                                              </div> -->
                </div>
              </div>
              <div
                class="row"
                style="
                  padding: 0;
                  margin: 0;
                  margin-top: 10px;
                  border-radius: 0;
                "
              >
                <div class="col-5 col-md-5" style="padding-left:0; margin:0;">
                  <input
                    type="number"
                    placeholder="1"
                    name="orderQuantity"
                    min="1"
                    [disabled]="hide[pro.productId._id]"
                    #orderQuantity="ngModel"
                    [(ngModel)]="pro.orderQuantity"
                    style="
                      margin: 0;
                      border-radius: 0;
                      border: none;
                      border: 1px solid #eee;
                    "
                    class="form-control"
                  />
                </div>
                <div class="col-7 col-md-7" style="padding:0; margin:0;">
                  <!-- <button
                    [disabled]="hide[pro.productId._id]"
                    class="btn btn-dark btn-block"
                    (click)="
                      addToCart(
                        pro.productId._id,
                        pro.orderQuantity,
                        pro.salePrice,
                        pro.currency,
                        pro.productId.volume,
                        pro.productId.volumeEntity
                      )
                    "
                    type="button"
                  >
                    Add to Cart
                  </button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>

<br />
<br />

<div class="container">
  <div class="row" style="background-color: #444; padding: 0">
    <div
      class="col-md-12"
      style="background-color: #444; padding: 0; margin: 0"
    >
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item" *ngFor="let category of mainpageCategories">
          <a
            class="nav-link {{ category.active }}"
            style="border-radius: 0; font-size: 20px"
            data-toggle="pill"
            href="#{{ category.categoryNameLower }}"
          >
            {{ category.category }}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="tab-content">
      <div
        *ngFor="let category of mainpageCategories"
        class="tab-pane fade {{ category.active }} {{ category.show }}"
        id="{{ category.categoryNameLower }}"
      >
        <br />
        <div class="row" style="padding: 0; margin: 0; padding-bottom: 20px">
          <div
            class="col-md-3"
            style="
              min-height: 300px;
              margin: 0;
              padding: 5px;
              padding-bottom: 14px;
              margin-bottom: 20px;
            "
            *ngFor="let pro of category.products"
          >
            <div
              style="
                border: 1px solid #ddd;

                padding: 5px;
                color: black;
                text-align: center;
                background-color: white;
              "
            >
              <div class="row" style="min-height: 40px; padding: 0; margin: 0">
                <div class="col-3 col-md-3" style="padding-left: 0">
                  <div
                    *ngIf="pro.freeCargo"
                    class="fa fa-truck"
                    style="
                      margin-left: 0;
                      background-color: #ddd;
                      color: #444;
                      text-align: center;
                      padding: 10px;
                    "
                  ></div>
                </div>
                <div class="col-6 col-md-5"></div>

                <div class="col-3 col-md-4" style="margin: 0; padding: 0">
                  <div
                    *ngIf="pro.listPrice != pro.salePrice && pro.listPrice != 0"
                    style="
                      background-color: #FFA500;
                      border:1px solid #FFA500;
                      color: #333;
                      text-align: center;
                    "
                  >
                    <div style="padding-top: 5px; padding-bottom: 5px">
                    <span  class="fa fa-arrow-down"></span>  % {{ pro.discount }}
                    </div>
                  </div>
                </div>

                <!-- <div class="col-md-4" *ngIf="pro.sizes.length==0" style="margin:0; padding:0;">
            
                                                <div *ngIf="pro.listPrice != pro.salePrice && pro.listPrice !=0"
                                                    style="background-color: #c8232c; color:white; text-align: center;">
            
                                                    <div style="padding-top:5px; padding-bottom:5px;"> % {{pro.discount}}
                                                    </div>
            
                                                </div>
                                            </div> -->
                <!-- 
                                            <div class="col-md-4" *ngIf="pro.sizes.length !==0 && pro.size[0].listPrice !=0"
                                                style="margin:0; padding:0;">
                                                <div *ngIf="pro.sizes[0].listPrice != pro.sizes[0].salePrice"
                                                    style="background-color: #c8232c; color:white; text-align: center;">
            
                                                    <div style="padding-top:5px; padding-bottom:5px;"> % {{pro.discount}}
                                                    </div>
            
                                                </div>
            
            
                                            </div> -->
              </div>
              <div class="row">
                <a
                  [routerLink]="[
                    '../../product',
                    pro.productId.turkishTitleLower + '&' + pro.productId._id
                  ]"
                >
                  <div class="col-md-12">
                    <img
                      src="{{ nodejsApi }}/{{ pro.productId.image[0] }}"
                      class="img-fluid"
                    />
                  </div>
                </a>
              </div>
              <div class="row" style="height: 40px">
             
                  <div class="col-md-12">
                    <a style="color:black;"
                    [routerLink]="[
                      '../../product',
                      pro.productId.turkishTitleLower + '&' + pro.productId._id
                    ]"
                  >
                      {{ pro.title }}
                    </a>
                  </div>
                
              </div>
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8" style="font-weight: bold; font-size:14px;">
                  <span
                    
                    *ngIf="pro.productId.volumeEntity != 'Not'"
                  >
                    {{ pro.productId.volume }}
                    {{ pro.productId.volumeEntity }}
                  </span>
                  <span
                   
                    *ngIf="pro.productId.volumeEntity == 'Not'"
                  >
                    {{ pro.productId.volume }}
                  </span>
                </div>
                <div class="col-md-2"></div>
              </div>
              <div class="row">
                <div
                  class="col-md-12"
                  style="
                    text-align: center;
                    color: black;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                    font-size: 20px;
                  "
                >
                  <div>
                    <label> {{ pro.salePrice }}</label>
                    <label> {{ pro.currency }}</label>

                    <label
                      *ngIf="
                        pro.listPrice != pro.salePrice && pro.listPrice != 0
                      "
                      style="margin-left: 10px; text-decoration: line-through"
                    >
                      {{ pro.listPrice }}</label
                    >
                    <label
                      style="text-decoration: line-through"
                      *ngIf="
                        pro.listPrice != pro.salePrice && pro.listPrice != 0
                      "
                    >
                      {{ pro.currency }}</label
                    >
                  </div>

                  <!-- 
                                                <div *ngIf="pro.sizes.length==0">
                                                    <label> {{pro.salePrice}}</label>
                                                    <label> {{pro.priceCurrency}}</label>
            
                                                    <label *ngIf="pro.listPrice != pro.salePrice  && pro.listPrice !=0"
                                                        style="margin-left:10px; text-decoration:line-through;">
                                                        {{pro.listPrice}}</label>
                                                    <label style="text-decoration:line-through;"
                                                        *ngIf="pro.listPrice != pro.salePrice  && pro.listPrice !=0">
                                                        {{pro.priceCurrency}}</label>
                                                </div> -->
                  <!-- <div *ngIf="pro.sizes.length!=0">
            
                                                    <label> {{pro.sizes[0].salePrice}}</label>
                                                    <label> {{pro.priceCurrency}}</label>
            
                                                    <label
                                                        *ngIf="pro.sizes[0].listPrice != pro.sizes[0].salePrice && pro.size[0].listPrice !=0"
                                                        style="margin-left:10px; text-decoration:line-through;">
                                                        {{pro.sizes[0].listPrice}}</label>
                                                    <label style="text-decoration:line-through;"
                                                        *ngIf="pro.sizes[0].listPrice != pro.sizes[0].salePrice && pro.size[0].listPrice !=0">
                                                        {{pro.priceCurrency}}</label>
            
                                                </div> -->
                </div>
              </div>
              <div
              class="row"
              style="
                padding: 0;
                margin: 0;
                margin-top: 10px;
                border-radius: 0;
              "
            >
              <div class="col-5 col-md-5" style="padding-left:0; margin:0;">
                <input
                  type="number"
                  placeholder="1"
                  name="orderQuantity"
                  min="1"
                  [disabled]="hide[pro.productId._id]"
                  #orderQuantity="ngModel"
                  [(ngModel)]="pro.orderQuantity"
                  style="
                    margin: 0;
                    border-radius: 0;
                    border: none;
                    border: 1px solid #eee;
                  "
                  class="form-control"
                />
              </div>
              <div class="col-7 col-md-7" style="padding:0; margin:0;">
                <button
                  [disabled]="hide[pro.productId._id]"
                  class="btn btn-dark btn-block"
                  (click)="
                    addToCart(
                      pro.productId._id,
                      pro.orderQuantity,
                      pro.salePrice,
                      pro.currency,
                      pro.productId.volume,
                      pro.productId.volumeEntity
                    )
                  "
                  type="button"
                >
                  Add to Cart
                </button>
              </div>
            </div>

             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<br />
<div class="container">


  <div class="row" >
 
      <div class="col-md-4" style="margin:0; padding:5px;"  *ngFor="let article of articles">
        <a
          class="articleTitle"
          [routerLink]="['./blog', article.titleLower + '&' + article._id]"
        >
          <div
            class="card-default"
            style="color: black; text-align: center; border: 1px solid #ddd; background-color: white;"
          >
            <div
              class="card-body"
              style="
               
               
                text-decoration: center;
              "
            >
              <div>
                <img
                  src="{{ nodejsApi }}/{{ article.imageUrl }}"
                  alt="Random first slide"
                  class="img-fluid"
                />
              </div>
            </div>
            <!-- <h6 style="color: black; margin-top: 5px">
              {{ article.createdAt | date: "short" }}
            </h6> -->
            <h6 style="color: black; margin-top: 5px; font-weight: bold;">{{ article.title }}</h6>
            <p style="color: black">{{ article.description }}</p>
          </div>
        </a>
      </div>
   
  </div>
</div>
<br />
<br />
<div class="container">
  <br />

  <div class="row">
    <div
      class="col-md-4"
      *ngFor="let video of videos"
      style="padding: 2px; width: 100%; height: auto"
    >
      <div class="embed-responsive embed-responsive-16by9">
        <iframe
          class="embed-responsive-item"
          [src]="video.videoUrl"
          allowfullscreen
        ></iframe>
      </div>

      <!-- <iframe  [src]="video.videoUrl" frameborder="0" allowfullscreen></iframe> -->
    </div>
  </div>
</div>
<br />

<div
  class="container-fluid"
  style="
    height: 60px;
    background-color: orange;
    text-align: center;
    padding-top: 15px;
  "
>
  <!-- <h5 style="text-align: center">{{ general.info }}</h5> -->
</div>

<!-- <script>
    $(document).ready(function () {


        var name = 'a.jpg';
        var index = 0;
        var image_address, list, loop, last_index;
        var scroll_position = 0;
        var temp = 0;
        var status = 'on';


        $('.thumbs_style img').first().css('border', '3px solid #fff');
        $('#image').html("<img class='gallery_img_style' src='http://localhost:5500/images/" + name + "'>");


    })


</script> -->
