<div class="card-header" style="border-bottom:none;">
    <div class="row">

        <div class="col-md-3">
            <select class="custom-select" [ngModel]="selectedNotifyFor" (ngModelChange)="selectFor($event)">
                <option *ngFor="let notifyFor of notifyFors" [value]="notifyFor.notify">
                    {{notifyFor.notify}}
                </option>
            </select>

        </div>
        <div class="col-md-3">
            <select class="custom-select" [ngModel]="selectedStatus" (ngModelChange)="selectStatus($event)">
                <option *ngFor="let status of statuses" [value]="status.status">
                    {{status.status}}
                </option>
            </select>

        </div>

        <div class="col-md-3">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dps" [(ngModel)]="startDate"
                            ngbDatepicker #d="ngbDatepicker" (ngModelChange)="selectStartDate($event)">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary fa fa-calendar" (click)="d.toggle()"
                                type="button"></button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-md-3">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="endDate"
                            ngbDatepicker #d1="ngbDatepicker" (ngModelChange)="selectEndDate($event)">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary fa fa-calendar" (click)="d1.toggle()"
                                type="button"></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    
    </div>
</div>
<br>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>


           
            <th scope="col-5">Müşteri</th>
            <!-- <th scope="col-2">Grand Total</th> -->
            <th scope="col-2">Durum</th>
            <th scope="col-2">Sipariş Tarihi</th>
            <th scope="col-3"></th>
        </tr>
    </thead>
    <tbody>


        <tr *ngFor="let order of notifyList">
    
            <td scope="col-5"> {{order.customer}}</td>
            <!-- <td scope="col-2">{{order.grandTotal}} {{order.currency}}</td> -->
            <td scope="col-2">{{order.status}}</td>
            <td scope="col-2"> {{order.createdAt | date :'short'}}</td>
            <td scope="col-1">

                <a *ngIf="selectedNotifyFor=='operation'" [routerLink]="['../../../orderRetails',order.orderId]" style="color:black; text-decoration: none;">
                    <i class="fa fa-arrow-right"></i>
                </a>
                <a *ngIf="selectedNotifyFor=='warehouse'" [routerLink]="['../../../orderRetails',order.orderId]" style="color:black; text-decoration: none;">
                    <i class="fa fa-arrow-right"></i>
                </a>
                <!-- <a *ngIf="notifyFor=='customer'" [routerLink]="['../../../orderRetails',order.orderId]" style="color:black; text-decoration: none;">
                    <i class="fa fa-arrow-right"></i>
                </a> -->
            </td>


        </tr>

    </tbody>
</table>
<br>

<div class="row">
    <div class="col-md-8">

        <ngb-pagination class="d-flex justify-content-left" style="margin-left: 15px;" size="sm"
            [(collectionSize)]="totalItems" (pageChange)="nowPage($event)" [(page)]="pageNumber" [(pageSize)]="pageSize"
            [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>

    </div>
    <div class="col-md-4">
        <div class="pull-right" style="margin-right: 15px;">
            <b>Found :</b> {{totalItems}}
        </div>

    </div>
</div>
<br>